<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Error 404, could not find.</h1>
    <p>Unfortunately, we couldn't find that page - please try again later.</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>
<%- include('includes/footer') %>